* {
  margin: 0;
  padding: 0;
}

.section {
  margin-bottom: 2%;
}
.consent-form {
  margin-left: 2%;
  margin-right: 10%;
}

.consent-form h1 {
  margin-top: 3%;
  margin-bottom: 2%;
}

.section h2 {
  margin-bottom: 0.5%;
}

.button {
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: rgb(74, 142, 250);
  border-radius: 3px;
  border-color: transparent;
  padding: 10px 20px;
  font-size: 1em;
}

.button:hover {
  background-color: rgb(74, 142, 250, 0.8);
}

ul {
  padding-left: 3%;
}
